* {
  background-color: rgb(47, 177, 252);
  color: white;
}

h1 {
  margin-inline: auto;
  max-width: fit-content;
}
.intro-text {
  margin-inline: auto;
  max-width: fit-content;
}
.thumbnails {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
}
.thumbnails img:hover {
  opacity: 0.8;
}
/* .bigDisplay {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  object-fit: cover;
} */
body {
  margin: 0px;
}
p {
  display: flex;
  justify-content: center;
  padding: 0px;
}
a {
  display: flex;
  justify-content: center;
}
.niceSize {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  margin: 0px;
}
footer {
  padding: 5px;
  display: flex;
  justify-content: center;
}
