* {
  background-color: aqua;
}

h1 {
  margin-inline: auto;
  max-width: fit-content;
}
.intro-text {
  margin-inline: auto;
  max-width: fit-content;
}
.thumbnails {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bigDisplay {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body {
  margin: 0px;
}
p {
  display: flex;
  justify-content: center;
}
a {
  display: flex;
  justify-content: center;
}
